<!--Body Start -->
<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Invoice List</li>
          </ol>
          <ol class="breadcrumb float-right">
            <button class="btn btn-primary" [routerLink]="['/invoice/create-invoice']">Create New Invoice</button>
          </ol>
        </nav>
        <table class="table" data-aos="fade-up">
          <thead>
            <tr>
              <th scope="col">Invoice Number</th>
              <th scope="col">Email</th>
              <th scope="col">Date</th>
              <th scope="col">Due Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of InvoiceList">
              <th scope="row">{{item.invoiceNumber}}</th>
              <td>{{item.personalEmail}}</td>
              <td>{{item.date}}</td>
              <td>{{item.dueDate}}</td>
              <td><button class="btn btn-primary" (click)="onEditInvoice(item.invoiceId)">Edit</button>
                <button class="btn btn-danger ml-1" (click)="onDeleteInvoice(item.invoiceId)">Delete</button>
              </td>
            </tr>
          </tbody>
          <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="1">1</a></li>
              <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="2">2</a></li>
              <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="3">3</a></li>
            </ul>
          </nav>
        </table>
      </div>
    </div>
  </div>
</section>
<!--
Body End -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: #005A9C;">
    <h4 class="modal-title text-white" id="modal-basic-title">Create New Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class=" form-group">
        <label class="font-weight-bold">Invoice Tittle:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Invoice Number:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label class="font-weight-bold">P.O/S.O Number:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Invoice Date:</label>
        <input type="text" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>
