<div class="wrapper">
  <div class="login-block">
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div class="login-left">
          <h1><span>Reset Password</span></h1>

        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="invoice-formin">
          <form class="invoice-form" name="ResetPasswordOtpForm" [formGroup]="ResetPasswordOtpForm"
            (ngSubmit)="ResetPasswordOtpForm.valid && onResetPassword()">
            <div class="form-head">
              <img src="assets/images/logo.png">
            </div>
            <div class="form-group input-effect">
              <div class="form-group input-effect">
                <input type="text" class="form-control effect-12" formControlName="otp" placeholder="Enter OTP here..."
                  [ngClass]="{'is-invalid':ResetPasswordOtpForm.get('otp').touched && ResetPasswordOtpForm.get('otp').invalid}" />
                <div *ngIf="ResetPasswordOtpForm.get('otp').touched && ResetPasswordOtpForm.get('otp').invalid"
                  class="invalid-feedback">
                  <div *ngIf="ResetPasswordOtpForm.get('otp').errors.required">OTP is required</div>
                </div>
                <span class="focus-bg"></span>
              </div>

            </div>
            <div class="form-group input-effect">
              <input class="form-control effect-12" formControlName="newpassword"
                placeholder="Please Enter New Password.." [ngClass]="{'is-invalid':ResetPasswordOtpForm.get('newpassword').touched &&
                ResetPasswordOtpForm.get('newpassword').invalid}" />
              <div *ngIf="ResetPasswordOtpForm.get('newpassword').touched &&
                ResetPasswordOtpForm.get('newpassword').invalid" class="invalid-feedback">
                <div *ngIf="ResetPasswordOtpForm.get('newpassword').errors.required">Password is required</div>
                <div *ngIf="ResetPasswordOtpForm.get('newpassword').errors.minlength">Password must be a letaset 8 digit
                </div>
                <div *ngIf="ResetPasswordOtpForm.get('newpassword').hasError('pattern')">
                  Pattern Not valid (Atleast 1
                  Character,1 number)
                </div>
              </div>
              <span class="focus-bg"></span>
            </div>
            <div class="form-group input-effect">
              <input class="form-control effect-12" formControlName="confirmpassword"
                placeholder="Please Confirm Password.." [ngClass]="{'is-invalid':ResetPasswordOtpForm.get('confirmpassword').touched &&
                ResetPasswordOtpForm.get('confirmpassword').invalid}" />
              <div *ngIf="ResetPasswordOtpForm.get('confirmpassword').touched &&
                ResetPasswordOtpForm.get('confirmpassword').invalid" class="invalid-feedback">
                <div *ngIf="ResetPasswordOtpForm.get('confirmpassword').errors.required">Password is required</div>
                <div *ngIf="ResetPasswordOtpForm.get('confirmpassword').errors.checkIfMatchingPasswords">Passwords must
                  match
                </div>
              </div>
              <span class="focus-bg"></span>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" [disabled]="!ResetPasswordOtpForm.valid">Verify</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
