<div class="wrapper">
  <div class="login-block">
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div class="login-left">
          <h1>Welcome to <span>Invoice</span></h1>
          <p>Login to your Account</p>
          <ul class="socail-icon">
            <li><a><i class="fab fa-facebook-f"></i></a></li>
            <li><a><i class="fab fa-twitter"></i></a></li>
            <li><a><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="invoice-formin">
          <form class="invoice-form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLogin()">
            <div class="form-head">
              <img src="assets/images/logo.png">
            </div>


            <div class="form-group input-effect">
              <input type="text" class="form-control effect-12" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid':loginForm.get('email').touched && loginForm.get('email').invalid}" />
              <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="invalid-feedback">
                <div *ngIf="loginForm.get('email').errors.required">Email is required</div>
                <div *ngIf="loginForm.get('email').errors.email">Email must be a valid email Address</div>
              </div>
              <span class="focus-bg"></span>
            </div>

            <div class="form-group input-effect">
              <input type="password" class="form-control effect-12" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}" />
              <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid"
                class="invalid-feedback">
                <div *ngIf="loginForm.get('password').errors.required">Password is required</div>
                <div *ngIf="loginForm.get('password').errors.minlength">Password must be a letaset 6 charector</div>
              </div>

              <span class="focus-bg"></span>
            </div>
            <p class="forget-link"><a routerLink="/forgot-password">Forgot Password?</a></p>
            <div class="form-group text-center">
              <button class="btn btn-primary" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
            </div>
            <p class="mt-3 mb-0" style="color: #ccc;">New User? <a class="text-main" routerLink="/register">Register
                Now</a></p>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
