<!--Body Start -->
<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb float-right">
            <button class="btn btn-primary " (click)="openCreateNewCustomer(content)">Create New Customer</button>
          </ol>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Create Customer</li>
          </ol>
        </nav>
        <div class="content-element" data-aos="fade-up">
          <!-- <div class="invoice-formin">
              <form class="invoice-form" name="customerForm" [formGroup]="customerForm"
                (ngSubmit)="customerForm.valid && onCreateCustomer()">
                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="bussinessName"
                    placeholder="Enter Customer or Business Name " [ngClass]="{'is-invalid':customerForm.get('bussinessName').touched &&
                        customerForm.get('bussinessName').invalid}" />
                  <div *ngIf="customerForm.get('bussinessName').touched && customerForm.get('bussinessName').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('bussinessName').errors.required">Customer is required</div>
                  </div>
                </div>
                <div class="form-group input-effect">
                  <input class="form-control" formControlName="personalEmail"
                    placeholder="Enter  Enter Valid personalEmail" [ngClass]="{'is-invalid':customerForm.get('personalEmail').touched &&
                    customerForm.get('personalEmail').invalid}">
                  <div *ngIf="customerForm.get('personalEmail').touched && customerForm.get('personalEmail').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('personalEmail').errors.required">personalEmail is required</div>
                    <div *ngIf="customerForm.get('personalEmail').errors.email">Email must be a valid email address
                    </div>
                  </div>
                </div>
                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name"
                    [ngClass]="{'is-invalid':customerForm.get('firstName').touched &&
                    customerForm.get('firstName').invalid}" />
                  <div *ngIf="customerForm.get('firstName').touched && customerForm.get('firstName').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('firstName').errors.required">firstName is required</div>
                  </div>
                </div>
                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name"
                    [ngClass]="{'is-invalid':customerForm.get('lastName').touched &&
                    customerForm.get('lastName').invalid}" />
                  <div *ngIf="customerForm.get('lastName').touched && customerForm.get('lastName').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('lastName').errors.required">lastName is required</div>
                  </div>
                </div>
                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone Number"
                    [ngClass]="{'is-invalid':customerForm.get('phone').touched &&
                    customerForm.get('phone').invalid}" />
                  <div *ngIf="customerForm.get('phone').touched && customerForm.get('phone').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('phone').errors.required">lastName is required</div>
                  </div>
                </div>
                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number"
                    [ngClass]="{'is-invalid':customerForm.get('mobile').touched &&
                    customerForm.get('mobile').invalid}" />
                  <div *ngIf="customerForm.get('mobile').touched && customerForm.get('mobile').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('mobile').errors.required">mobile is required</div>
                  </div>
                </div>

                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="address1" placeholder="Enter address1"
                    [ngClass]="{'is-invalid':customerForm.get('address1').touched
                        &&
                    customerForm.get('address1').invalid}" />
                  <div *ngIf="customerForm.get('address1').touched && customerForm.get('address1').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('address1').errors.required">address1 is required</div>
                  </div>
                </div>


                <div class="form-group input-effect">
                  <input type="text" class="form-control" formControlName="website"
                    placeholder="Enter Valid Website Url" [ngClass]="{'is-invalid':customerForm.get('website').touched
                        &&
                    customerForm.get('website').invalid}" />
                  <div *ngIf="customerForm.get('website').touched && customerForm.get('website').invalid"
                    class="invalid-feedback">
                    <div *ngIf="customerForm.get('website').errors.required">website is required</div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <button class="btn btn-primary" [disabled]="!customerForm.valid" class="btn btn-primary">Create
                    Customer</button>
                </div>
              </form>
            </div> -->

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Email</th>
                <th scope="col">Account Number</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of customersList">
                <th scope="row">{{item.bussinessName}}</th>
                <td>{{item.personalEmail}}</td>
                <td>{{item.accountNumber}}</td>
                <td>{{item.address1}}</td>
                <td>{{item.countryName}}</td>
              </tr>
            </tbody>
            <nav aria-label="Page navigation example" class="float-right">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="1">1</a></li>
                <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="2">2</a></li>
                <li class="page-item"><a class="page-link" (click)="getValueofpage($event)" id="3">3</a></li>
              </ul>
            </nav>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
Body End -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color: #005A9C;">
    <h4 class="modal-title text-white" id="modal-basic-title">Create New Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="invoice-form" name="customerForm" [formGroup]="customerForm"
      (ngSubmit)="customerForm.valid && onCreateCustomer()">
      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="bussinessName"
          placeholder="Enter Customer or Business Name " [ngClass]="{'is-invalid':customerForm.get('bussinessName').touched &&
                        customerForm.get('bussinessName').invalid}" />
        <div *ngIf="customerForm.get('bussinessName').touched && customerForm.get('bussinessName').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('bussinessName').errors.required">Customer is required</div>
        </div>
      </div>
      <div class="form-group input-effect">
        <input class="form-control" formControlName="personalEmail" placeholder="Enter  Enter Valid personalEmail"
          [ngClass]="{'is-invalid':customerForm.get('personalEmail').touched &&
                    customerForm.get('personalEmail').invalid}">
        <div *ngIf="customerForm.get('personalEmail').touched && customerForm.get('personalEmail').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('personalEmail').errors.required">personalEmail is required</div>
          <div *ngIf="customerForm.get('personalEmail').errors.email">Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name" [ngClass]="{'is-invalid':customerForm.get('firstName').touched &&
                    customerForm.get('firstName').invalid}" />
        <div *ngIf="customerForm.get('firstName').touched && customerForm.get('firstName').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('firstName').errors.required">firstName is required</div>
        </div>
      </div>
      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name" [ngClass]="{'is-invalid':customerForm.get('lastName').touched &&
                    customerForm.get('lastName').invalid}" />
        <div *ngIf="customerForm.get('lastName').touched && customerForm.get('lastName').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('lastName').errors.required">lastName is required</div>
        </div>
      </div>
      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone Number" [ngClass]="{'is-invalid':customerForm.get('phone').touched &&
                    customerForm.get('phone').invalid}" />
        <div *ngIf="customerForm.get('phone').touched && customerForm.get('phone').invalid" class="invalid-feedback">
          <div *ngIf="customerForm.get('phone').errors.required">lastName is required</div>
        </div>
      </div>
      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number" [ngClass]="{'is-invalid':customerForm.get('mobile').touched &&
                    customerForm.get('mobile').invalid}" />
        <div *ngIf="customerForm.get('mobile').touched && customerForm.get('mobile').invalid" class="invalid-feedback">
          <div *ngIf="customerForm.get('mobile').errors.required">mobile is required</div>
        </div>
      </div>

      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="address1" placeholder="Enter address1" [ngClass]="{'is-invalid':customerForm.get('address1').touched
                        &&
                    customerForm.get('address1').invalid}" />
        <div *ngIf="customerForm.get('address1').touched && customerForm.get('address1').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('address1').errors.required">address1 is required</div>
        </div>
      </div>


      <div class="form-group input-effect">
        <input type="text" class="form-control" formControlName="website" placeholder="Enter Valid Website Url"
          [ngClass]="{'is-invalid':customerForm.get('website').touched
                        &&
                    customerForm.get('website').invalid}" />
        <div *ngIf="customerForm.get('website').touched && customerForm.get('website').invalid"
          class="invalid-feedback">
          <div *ngIf="customerForm.get('website').errors.required">website is required</div>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary" [disabled]="!customerForm.valid" class="btn btn-primary">Create
          Customer</button>
      </div>
    </form>
  </div>
</ng-template>
