<!--Body Start -->
<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
        </nav>
        <div class="content-element">
          <div class="row">
            <div class="col-md-4">
              <div class="income-status">
                <h3><span>10</span>Overd</h3>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-red">$0.00</h1>
                    <img src="assets/images/overdue.png">
                  </div>
                  <div class="income-btn">
                    <a>
                      <span>View Invoices</span>
                      <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="income-status">
                <h3><span>6</span>Unpaid</h3>
                <div class=" income-title">
                  <div class="income-titlein">
                    <h1 class="text-green">$0.00</h1>
                    <img src="assets/images/unpaid.png">
                  </div>
                  <div class="income-btn">
                    <a>
                      <span>View Invoices</span>
                      <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="income-status">
                <h3><span>4</span>Paid</h3>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-gray">$0.00</h1>
                    <img src="assets/images/paid.png">
                  </div>
                  <div class="income-btn">
                    <a>
                      <span>View Invoices</span>
                      <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="income-status">
                <div class="income-box">
                  <h3><span>3</span>Open Invoices</h3>
                  <p class="bg-red">1 late</p>
                </div>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-gray">$303.6k</h1>
                    <img src="assets/images/overdue.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="income-status">
                <div class="income-box">
                  <h3><span>6</span>Quotations</h3>
                  <p class="bg-green">1 Acceoted</p>
                </div>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-gray">$200.6k</h1>
                    <img src="assets/images/unpaid.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <div class="income-status">
                <div class="income-box">
                  <h3><span>24</span>Expenses</h3>
                </div>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-red">$33.6k</h1>
                    <img src="assets/images/overdue.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="income-status">
                <div class="income-box">
                  <h3><span>6</span>Customers</h3>
                  <p class="bg-green">1 new</p>
                </div>
                <div class="income-title">
                  <div class="income-titlein">
                    <h1 class="text-green">$300.6k</h1>
                    <img src="assets/images/unpaid.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="notification-area">
            <div class="row">
              <div class="col-md-8">
                <h3 class="text-main">Notification</h3>
                <a>
                  <p class="invoice-num">Invoice 1</p>
                  <div class="note-text">
                    <p>Manish Kumar </p>
                    <h5>$65 <p class="status">Received</p>
                    </h5>
                  </div>
                  <p class="date">Aug 12, 2019</p>
                  <p class="Dismiss">Dismiss</p>
                </a>
                <a>
                  <p class="invoice-num">Invoice 1</p>
                  <div class="note-text">
                    <p>Manish Kumar </p>
                    <h5>$65 <p class="status">Received</p>
                    </h5>
                  </div>
                  <p class="date">Aug 12, 2019</p>
                  <p class="Dismiss">Dismiss</p>
                </a>
                <a>
                  <p class="invoice-num">Invoice 1</p>
                  <div class="note-text">
                    <p>Manish Kumar </p>
                    <h5>$65 <p class="status">Received</p>
                    </h5>
                  </div>
                  <p class="date">Aug 12, 2019</p>
                  <p class="Dismiss">Dismiss</p>
                </a>
                <a>
                  <p class="invoice-num">Invoice 1</p>
                  <div class="note-text">
                    <p>Manish Kumar </p>
                    <h5>$65 <p class="status">Received</p>
                    </h5>
                  </div>
                  <p class="date">Aug 12, 2019</p>
                  <p class="Dismiss">Dismiss</p>
                </a>
              </div>
              <div class="col-md-4">
                <div class="edited-block">
                  <h3 class="text-main">Recently edited</h3>
                  <div class="if-nodata">
                    <p>No Recently Edited</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
Body End -->
