<!--Body Start -->
<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Linked User</li>
          </ol>
          <button class="btn btn-primary float-right">Add New Linked User</button>
        </nav>
        <div class="content-element">

          <ngx-datatable class="material" [rows]="" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="true" [sorts]="[{prop: 'name', dir: 'desc'}]">
            <ngx-datatable-column name="Company">
              <ng-template let-row="row" ngx-datatable-cell-template>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name">
              <ng-template let-row="row" ngx-datatable-cell-template>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Gender">
            </ngx-datatable-column>
          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>
</section>
<!--
Body End -->
