<div class="sidebar panel" id="">
  <ul>
    <li class="user-profile">
      <img src="assets/images/user.png">
      <div class="user-detail">
        <h4>Pankaj Royal</h4>
        <p>pankajroyal@gmail.com</p>
      </div>
    </li>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <span>Dashboard</span>
        <i class="i fas fa-tachometer-alt"></i>
      </a>
    </li>
    <!-- <div class="accordion" id="accordionExample">
      <li id="headingOne">
        <a class="active" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <span>Income</span>
          <div class="icon-arrow">
            <img src="assets/images/dollar.png" class="i">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <div id="collapseTwo" class="collapse accordion-collapse-menu" aria-labelledby="headingOne"
        data-parent="#accordionExample">
        <ul class="accordion" id="accordionExample-inner">
          <div aria-labelledby="headingOne-inner" data-parent="#accordionExample-inner">
            <ul class="collapse-inner-2">
              <li>
                <a [routerLink]="['/invoice']" routerLinkActive="router-link-active">
                  <span> Invoice</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/quotations']" routerLinkActive="router-link-active">
                  <span>Quotations</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/time-recording']" routerLinkActive="router-link-active">
                  <span>Time Recording</span>
                </a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div> -->
    <li>
      <a [routerLink]="['/invoice']" routerLinkActive="router-link-active">
        <span>Income</span>
        <img class="i" src="assets/images/us-dollar.png">
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="['/vendor-management']" routerLinkActive="router-link-active">
        <span>Vendor Management</span>
        <img class="i" src="assets/images/vender.png">
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/expenses']" routerLinkActive="router-link-active">
        <span>Expenses</span>
        <img src="assets/images/expense.png" class="i">
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <span>Dept Collection</span>
        <img src=" assets/images/dept.png" class="i">
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <span>Items</span>
        <img src="assets/images/item.png" class="i">
      </a>
    </li> -->
    <!-- <li>
      <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <span>Statement</span>
        <img src="assets/images/statement.png" class="i">
      </a>
    </li> -->
    <div class="accordion" id="accordionExample">
      <li id="headingOne">
        <a class="active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <span>Settings</span>
          <div class="icon-arrow">
            <img src="assets/images/setting.png" class="i">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </a>
      </li>
      <div id="collapseOne" class="collapse accordion-collapse-menu" aria-labelledby="headingOne"
        data-parent="#accordionExample">
        <ul class="accordion" id="accordionExample-inner">
          <li id="headingOne-inner">
            <a data-toggle="collapse" data-target="#collapseOne-inner" aria-expanded="true" aria-controls="collapseOne">
              <span>Account</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </li>
          <div id="collapseOne-inner" class="collapse" aria-labelledby="headingOne-inner"
            data-parent="#accordionExample-inner">
            <ul class="collapse-inner-2">
              <li>
                <a [routerLink]="['/linked-user']" routerLinkActive="router-link-active">
                  <span>Linked user</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/currency']" routerLinkActive="router-link-active">
                  <span>Currency</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/edit-profile']" routerLinkActive="router-link-active">
                  <span>Edit Profile</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/change-password']" routerLinkActive="router-link-active">
                  <span>Change Password</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/logs']" routerLinkActive="router-link-active">
                  <span>Logs</span>
                </a>
              </li>
            </ul>
          </div>
        </ul>

        <ul class="accordion" id="accordionExample-Invoice">
          <li id="headingOne-Invoice">
            <a data-toggle="collapse" data-target="#collapseOne-Invoice" aria-expanded="false"
              aria-controls="collapseOne">
              <span>Invoice</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </li>
          <div id="collapseOne-Invoice" class="collapse" aria-labelledby="headingOne-Invoice"
            data-parent="#accordionExample-Invoice">
            <ul class="collapse-Invoice-2">
              <li>
                <a [routerLink]="['invoice/create-customer']" routerLinkActive="router-link-active">
                  <span>Customer</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/tax']" routerLinkActive="router-link-active">
                  <span>Tax</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['invoice/add-new-item']" routerLinkActive="router-link-active">
                  <span>Items</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/statement']" routerLinkActive="router-link-active">
                  <span>Statement</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/signature']" routerLinkActive="router-link-active">
                  <span>Signature</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/membership']" routerLinkActive="router-link-active">
                  <span>Membership</span>
                </a>
              </li>
            </ul>
          </div>
        </ul>

        <ul class="accordion" id="accordionExample-Other">
          <li id="headingOne-Other">
            <a data-toggle="collapse" data-target="#collapseOne-Other" aria-expanded="false"
              aria-controls="collapseOne">
              <span>Other</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
          </li>
          <div id="collapseOne-Other" class="collapse" aria-labelledby="headingOne-Other"
            data-parent="#accordionExample-Other">
            <ul class="collapse-Other-2">
              <li>
                <a [routerLink]="['/invite-people']" routerLinkActive="router-link-active">
                  <span>Invite People</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active">
                  <span>Contact Us</span>
                </a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    <!-- <li class="management-btn">
      <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
        <span>Membership</span>
        <img src=" assets/images/dept.png" class="i">
      </a>
    </li> -->
  </ul>
</div>
<script>
  $(".flip").click(function (e) {
    $(".panel , .body-content").toggleClass('open');
  });

</script>
