<section class="body-wrap">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="body-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
          </ol>
        </nav>
        <div class="content-element">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">P.O/S.O Number</label>
              <input type="text" class="form-control" placeholder="Enter P.O/S.O Number">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Current Date</label>
              <input type="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Due Date</label>
              <input type="date" class="form-control">
            </div>
            <div class="form-group" (scroll)="divScroll($event)">
              <label for="sel1">Select Customer:</label>
              <select class="form-control" (change)="onChange($event.target.value)">
                <option *ngFor="let item of customersList" [value]="item.customerId">
                  {{item.bussinessName}}</option>
              </select>
            </div>
            <div class="form-group" (scroll)="divScroll($event)">
              <label for="sel1">Select Item:</label>
              <select class="form-control" (change)="onChange($event.target.value)">
                <option *ngFor="let item of itemList" [value]="item">
                  {{item.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Sub Total</label>
              <input type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Tax</label>
              <input type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Total Amount</label>
              <input type="text" class="form-control" disabled>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" class="btn btn-primary">Create Invoice</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
